[submodule "vim/bundle/JSComplete"]
	path = vim/bundle/JSComplete
	url = https://github.com/teramako/jscomplete-vim.git
[submodule "vim/bundle/MatchTag"]
	path = vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "vim/bundle/NeoComplCache"]
	path = vim/bundle/NeoComplCache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/NeoSnippet"]
	path = vim/bundle/NeoSnippet
	url = https://github.com/Shougo/neosnippet.git
[submodule "vim/bundle/Tagbar"]
	path = vim/bundle/Tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/CtrlP"]
	path = vim/bundle/CtrlP
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/PHPComplete"]
	path = vim/bundle/PHPComplete
	url = https://github.com/youjumpiwatch/vim-phpcomplete.git
[submodule "vim/bundle/FiletypeUtils"]
	path = vim/bundle/FiletypeUtils
	url = https://github.com/youjumpiwatch/vim-filetypeutils.git
[submodule "vim/bundle/NeoSnippet-Snippets"]
	path = vim/bundle/NeoSnippet-Snippets
	url = https://github.com/Shougo/neosnippet-snippets
[submodule "vim/bundle/LocalVimrc"]
	path = vim/bundle/LocalVimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "vim/bundle/ClangComplete"]
	path = vim/bundle/ClangComplete
	url = https://github.com/itechbear/clang_complete
